.flight{
	width:80vw;
	height:10rem;
	margin:0 auto;
	padding:0;
	text-align:center;
	display:grid;
	grid-template-areas:
	'info info info info info'
	'from from middle to to'
	'from from middle to to';
	background-color:#ccc;
	color:#473d27;
	border:1px solid #8b826d;
}
.airline{
	grid-area: info;
}
.from-wrap{
	grid-area: from;
}
.to-wrap{
	grid-area: to;
}
.flight p{
	line-height:2rem;
}
.arrow{
	grid-area: middle;
	text-align:center;
}
.arrow img{
	width:4rem;
	height:4rem;
}