section#itinerary{
  width:100%;
  height:800px;
}
section#itinerary h2{
  font-size:20px;
  text-align: center;
  margin-top:40px;
}
.departure{
  width:80%;
  margin:0 auto;
  padding-top:20px;
  background:#ccc;
  border:1px solid #8b826d;
}
.departure h2{
  font-size: 20px;
  text-align: center;
}
.departFromA,
.departFromB{
  height:200px;
  position:relative;
}
p.airline-code{
  width:50%;
  text-align:center;
  margin:10px;
}
.flying-from-wrap,
.flying-to-wrap{
  width:50%;
  float:left;
  text-align:center;
}
p.flying-from,
p#departA-time,
p#arrivalA-time,
p#departA-terminal,
p#arrivalA-terminal,
p.flying-from-cabin,
p#departA-duration,
p#departA-duration{
  margin-top:10px;
}
p.flying-from,
p#departB-time,
p#arrivalB-time,
p#departB-terminal,
p#arrivalB-terminal,
p.flying-from-cabin,
P#departB-duration{
  margin-top:10px;
}
p.flying-from-cabin,
p#departA-duration,
p#departB-duration{
  color:#473d27;
}
.arrow{
  width:50px;
  height:50px;
  position:absolute;
  left:50%;
  top:25%;
}
.arrow img{
  width:100%;
}