section#itinerary h2{
	font-size:20px;
	text-align: center;
	margin: 20px;
}
.flight{
	width:80vw;
	height:10rem;
	margin:0 auto;
	padding:0;
	text-align:center;
	display:grid;
	grid-template-areas:
	'info info flightCode seat seat buy'
	'from from middle to to buy'
	'from from middle to to buy';
	background-color:#ccc;
	color:#473d27;
	border:1px solid #8b826d;
	margin-bottom:20px;
}
.airline{
	grid-area: info;
}
.flightCode{
	grid-area:flightCode;
}
.seat{
	grid-area:seat;
}
.from-wrap{
	grid-area: from;
}
.to-wrap{
	grid-area: to;
}
.flight p{
	line-height:2rem;
}
.arrow{
	grid-area: middle;
	text-align:center;
}
.userEditBtn{
	grid-area: buy;
	padding:5px;
	background:#c9beae;
	border: 5px solid #a3998b;
}
.buyButton{
	grid-area: buy;
	padding:5px;
	background:#c9beae;
	border: 5px solid #a3998b;
}
.buyButton:hover{
	background:#7b6c56;
	border: 5px solid #a3998b;
	cursor:pointer;
}
.arrow img{
	width:4rem;
	height:4rem;
}