section#flight_listingWrap{
  background:#c9beae;
  /* overflow:hidden; */
}
ul.flight_list{
  width:80%;
  height:1000px;
  margin:40px auto;
  background:#ccc;
}
ul.flight_list li{
  height:100px;
  background:rgb(92, 84, 84);
  border:1px solid #ccc;
}
ul.sub_flight_list{
    background:#dd9933;
    width:100%;
    height:100px;
}
ul.sub_flight_list li{
  float:left;
}
ul.sub_flight_list li:first-child,
ul.sub_flight_list li:nth-child(2){
  width:20%;
}
ul.sub_flight_list li{
  /* display:inline-block; */
  background:#474239;
  width:20%;
  height:100%;
}
ul.sub_flight_list li p{
  text-align:center;
  color:white;
  line-height:1.5;
}
ul.sub_flight_list li p:first-child{
  margin-top:10px;
}
ul.sub_flight_list li p.price{
  margin-top:35px;
}
.btn{
  width:100px;
  text-align:center;
  background:#c9beae;
  border-radius: 15px;
  margin:25px auto;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}
.btn:hover {
  background: #b89a6d;
}